.u-center-text { text-align: center !important; }
.u-center-div-vertically {
    margin-left: auto;
    margin-right: auto;
}

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium { margin-bottom: $distance-m !important; }
.u-margin-bottom-big { margin-bottom: 8rem !important;}

.u-margin-top-medium { margin-top: $distance-m !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-padding-top-medium { padding-top: $distance-m !important; }

.u-padding-bottom-medium { padding-bottom: $distance-m !important; }

