// COLORS
$color-primary: #CCCCCC;
$color-primary-dark: #AAAAAA;


$color-secondary: #003366;
$color-secondary-dark: #001A33;

$color-tertiary: #CCCC99;
$color-tertiary-dark: rgb(173, 173, 132);

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


// FONT
$default-font-size: 1.6rem;

$font-size-xxl: 9.6rem;
$font-size-xl: 4.8rem;
$font-size-l: 2.4rem;

$font-heading-1: 'Great Vibes', cursive;
$font-heading-2: 'Oswald', sans-serif;
$font-text: "Montserrat", sans-serif;


// DISTANCES
$distance-m: 3rem;